################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProviderEdge_V3_Core.Common/bin/Debug/netcoreapp3.1
